/* Estrutura do site */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Parisienne&display=swap');

html, body, #home {
    height: 100%;
}

body {
    background: url(../imagens/fachada-loja.jpeg);
    background-attachment: fixed;
}

h3 {
    font-size: 2.6em;
    padding-top: 20px;
}

hr {
    border: 1.2px solid black;
    width: 50%;
}

nav.navbar-transparente {
    background: rgba(255,255,255,0.6);
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: hsla(0, 0%, 0%, 0.603);
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5)
}

.capa {
    text-align: center;
}

#home h1 {
    font-family: Parisienne;
    font-size: 2.8em;
    letter-spacing: 5px;
    color: rgba(255, 255, 255, 0.74);
}

#home p {
    font-size: 1.6em;
    letter-spacing: 5px;
    color: rgba(255, 255, 255, 0.74);
    padding-top: 20px;
}

#marcas {
    background: white;
}

#marcas img {
    width: 350px;
    height: 350px;
}

h4.text-align {
    text-align: center;
    margin-top: -50px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 2em;
}

footer {
    background: black;
    height: 200px;
    padding-top: 30px;
    position: relative;
}

footer ul {
    list-style: none;
}

footer ul li {
    float: right;
    margin: 0 5px;
}

.copyright {
    text-align: center;
    padding-top: 30px;
}

.copyright a {
    color: orange;
}